*{
    margin: 0;
    padding: 0;
}


/* TYPO SIZE */
*{
    font-size: var(--p);
    font-family: 'inter', sans-serif;
}
h1{
    font-size: var(--h1);
    font-weight: 700;
}
h2{
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* BACKGROUND PRINCIPAL */
body{
    background: var(--secondary);
}

header{
    background-image: url("./../png/headerback.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    padding: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SECTION */
section{
    background: var(--white);
    width: 60%; 
    border-radius: 28px;
    padding: 5rem;
    box-shadow: 5px 4px 16px -9px var(--dark);
    margin-bottom: 10rem;
    display: none;
}
section.current-page{
    display: block;
}

/* INPUT TEXT */
input[type="text"]{
    background: var(--grey);
    border: none;
    outline: 1px solid #B1B1B1;
    height: var(--inputHeight);
    width: 100%;
    border-radius: 15px;
    transition: outline 0.3s ease;
    padding-top: 0.3rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

input[type="text"]:focus-visible{
    outline: 1px solid var(--primary);
}

div:has( > input[type="text"]){
    padding: 1rem 0;
    position: relative;
}

label:has( ~ input[type="text"]){
    position: absolute;
    z-index: 1;
    top: 2.2rem;
    left: 1rem;
    cursor:auto;
    opacity: 1;
    transition: top 0.3s ease, left 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
}

label:has( ~ input[type="text"]:focus-visible), label:has( ~ input:not(:placeholder-shown)){
    top: 1.35rem;
    left: 1rem;
    opacity: .6;
    font-size: 12px;
}

/* INPUT FILE */
div:has( > input[type="file"]){
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
    transition: opacity .3s ease;
}

div:has( > input[type="file"]):hover{
    opacity: 0.7;
}

div:has( > input[type="file"]) label{
    position: absolute;
    font-size: var(--p);
    top: 2.2rem;
    color: var(--dark);
    cursor: pointer;
}

div input[type="file"]{
    background: var(--grey);
    height: var(--inputHeight);
    width: 100%;
    border-radius: 15px;
    outline: 1px solid #B1B1B1;
    line-height: var(--inputHeight);
    padding-left: 5rem;
    box-sizing: border-box;
    cursor: pointer;
}

div input[type="file"]::file-selector-button{
    border: none;
    outline: none;
    transition: opacity .3s ease;
    cursor: pointer;
}

.logo-prev{
    width: 250px;
    height: 250px;
    object-fit: contain;
    background:red;
}

/* CLASS UTILITAIRES */
.columned{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.columned > div{
    flex: 1;
}

.buttons-line{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 3rem;
}

.buttons-line button{
    border: none;
    border-radius: 50px;
    padding: 1rem 5rem;
    cursor: pointer;
    font-weight: bold;
}
.previous-button{
    background: var(--grey);
}

.next-button{
    background: var(--primary);
}

@media screen and (max-width: 992px) {
    .columned{
        flex-direction: column;
        gap:0;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: var(--presponsive);
    }
    h1{
        font-size: var(--h1responsive);
    }
    h2{
        font-size: var(--h2responsive);
    }
    header{
        background-image: url("./../png/headerbackmobile.png");
        height: 200px;
    }
}