*{
    margin: 0;
    padding: 0;
}


/* TYPO SIZE */
*{
    font-size: var(--p);
    font-family: 'inter', sans-serif;
}
h1{
    font-size: var(--h1);
    font-weight: 700;
}
h2{
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* BACKGROUND PRINCIPAL */
body{
    background: var(--secondary);
}

header{
    background-image: url("./../png/headerback.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    padding: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 5rem 20%;
}

/* SECTION */
section{
    display: none;
}
.white-block{
    background: var(--white);
    width: 100%; 
    border-radius: 28px;
    padding: 3rem;
    box-shadow: 5px 4px 16px -9px var(--dark);
    align-self: center;
    box-sizing: border-box;
    margin: 3rem 0;
}

section.current-page{
    display: block;
}

nav{
    background: var(--white);
    width: auto; 
    border-radius: 28px;
    padding: 1.5rem 2rem;
    box-shadow: 5px 4px 16px -9px var(--dark);
}

input {
    min-width: 150px;
}
/* INPUT TEXT / NUMBER */
input[type="text"], input[type="number"]{
    background: var(--grey);
    border: none;
    outline: 1px solid #B1B1B1;
    height: var(--inputHeight);
    width: 100%;
    border-radius: 15px;
    transition: outline 0.3s ease;
    padding-top: 0.3rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

input[type="text"]:focus-visible, input[type="number"]:focus-visible, input[type="file"]:focus-visible{
    outline: 1px solid var(--info);
}

div:has( > input[type="text"]), div:has( > input[type="number"]){
    padding: 1rem 0;
    position: relative;
}

label:has( ~ input[type="text"]), label:has( ~ input[type="number"]){
    position: absolute;
    z-index: 1;
    top: 2.2rem;
    left: 1rem;
    cursor:auto;
    opacity: 1;
    transition: top 0.3s ease, left 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
}

label:has( ~ input[type="text"]:focus-visible), label:has( ~ input[type="text"]:not(:placeholder-shown)),
label:has( ~ input[type="number"]:focus-visible), label:has( ~ input[type="number"]:not(:placeholder-shown)){
    top: 1.35rem;
    left: 1rem;
    opacity: .6;
    font-size: 12px;
}

/* INPUT FILE */
div:has( > input[type="file"]){
    position: relative;
    padding: 1rem 0;
    transition: opacity .3s ease;
}

div:has( > input[type="file"]) label{
    position: absolute;
    font-size: var(--p);
    top: 2.2rem;
    color: var(--dark);
    cursor: pointer;
}

div input[type="file"]{
    background: var(--grey);
    height: var(--inputHeight);
    width: 100%;
    border-radius: 15px;
    outline: 1px solid #B1B1B1;
    line-height: var(--inputHeight);
    padding-left: 5rem;
    box-sizing: border-box;
    cursor: pointer;
}

div input[type="file"]::file-selector-button{
    border: none;
    outline: none;
    transition: opacity .3s ease;
    cursor: pointer;
}

.logo-prev{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 2rem;
    opacity: 0;
    transition: opacity .3s ease;
}
.logo-prev.show{
    opacity: 1;
}

/* TABLE */
table{
    width: 100%;
    border-collapse: collapse;
    color: var(--dark);
}

table thead tr{
    border-bottom: 1px solid black;
}

table thead tr th:not(:first-child):not(:last-child),
table tbody tr td:not(:first-child):not(:last-child),
table tfoot tr td:not(:first-child):not(:last-child){
    border-right: 1px solid black;
    padding: 1rem;
}

table thead tr,
table tbody tr{
    text-align: right;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    text-align: left;
}

table thead tr th:last-child,
table tbody tr td:last-child,
table tfoot tr td{
    text-align: center;
}

/* CLASS UTILITAIRES */
.columned{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.columned > div{
    flex: 1;
}

.error-message{
    color: var(--error);
    font-size: var(--errorMessage);
    margin-top: 0.5rem;
    font-style: italic;
}

.small-infos{
    font-style: italic;
    margin-top: 0.5rem;
}

.buttons-line{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#basket_fill{
    margin-top: 1rem;
}

button{
    border: none;
    border-radius: 50px;
    padding: 1rem 5rem;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
}

.button-secondary{
    background: var(--grey);
}

.button-secondary:disabled{
    cursor:auto ;
}

.button-primary{
    background: var(--primary);
}
.trash-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.trash-icon:hover{
    opacity: .7;
}
@media screen and (max-width: 992px) {
    .columned{
        flex-direction: column;
        gap:0;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: var(--presponsive);
    }
    h1{
        font-size: var(--h1responsive);
    }
    h2{
        font-size: var(--h2responsive);
    }
    header{
        background-image: url("./../png/headerbackmobile.png");
        height: 200px;
    }
}