*{
    margin: 0;
    padding: 0;
}

/* BACKGROUND PRINCIPAL */
body{
    background: var(--secondary);
}

header{
    background-image: url("./../png/headerback.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    padding: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 5rem 20%;
}

/* SECTION */
section{
    display: none;
    width: 100%;
}

.white-block{
    background: var(--white);
    width: 100%; 
    border-radius: 28px;
    padding: 3rem;
    box-shadow: 5px 4px 16px -9px var(--dark);
    align-self: center;
    box-sizing: border-box;
    margin: 3rem 0;
}

section.current-page{
    display: block;
}

nav{
    background: var(--white);
    width: auto; 
    border-radius: 28px;
    padding: 1.5rem 2rem;
    box-shadow: 5px 4px 16px -9px var(--dark);
}

/* CLASS UTILITAIRES */
.columned{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.columned > div{
    flex: 1;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}


@media screen and (max-width: 1200px) {
    main{
        margin: 0 10%;
    }
}

@media screen and (max-width: 992px) {
    .columned{
        flex-direction: column;
        gap:0;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: var(--presponsive);
    }
    main{
        margin: 0 5%;
        align-items: center;
    }
    h1{
        font-size: var(--h1responsive);
        margin-top: 3rem;
    }
    h2{
        font-size: var(--h2responsive);
    }
    header{
        background-image: url("./../png/headerbackmobile.png");
        height: 170px;
    }
    button{
        padding: 1rem 3rem;
    }
    .close-modal{
        top: 0;
        right: 0;
    }
    .white-block{
        margin: 3rem 0 15rem 0;
    }
}