div:has(> table){
    overflow-x: auto;
}
table{
    border-collapse: collapse;
    color: var(--dark);
    width: 100%;
    min-width: 100%;
}

table thead tr{
    border-bottom: 1px solid black;
}

table thead tr th:not(:first-child):not(:last-child),
table tbody tr td:not(:first-child):not(:last-child)
{
    border-right: 1px solid black;
    padding: 1.1rem;
}

table tfoot tr td:not(:first-child):not(:last-child){
    border-right: 1px solid black;
}
table tfoot tr td{
    padding: .3rem 1.1rem .3rem .3rem;
    font-weight: bold;
    text-align: right;
}

table thead tr,
table tbody tr{
    text-align: right;
}

table tbody tr td, 
table tfoot tr td, 
table thead tr th{
    white-space: nowrap;
}


table thead tr th:first-child,
table tbody tr td:first-child{
    text-align: left;
}

table thead tr th:last-child,
table tbody tr td:last-child
{
    text-align: center;
}