
*{
    font-size: var(--p);
    font-family: 'inter', sans-serif;
}

h1{
    font-size: var(--h1);
    font-weight: 700;
}
h2{
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 3rem;
}

.row{
    margin-bottom: 3rem;
}

.row h2{
    margin-bottom: 0;
}

.error-message{
    color: var(--error);
    font-size: var(--errorMessage);
    margin-top: 0.5rem;
    font-style: italic;
}

.small-infos{
    font-style: italic;
    margin-top: 0.5rem;
}